{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

<div class="center-screen">
<div class="form-login">
<h1>Première connexion !</h1>
<h2>Entrez votre nouveau mot de passe</h2>
{{form(form)}}
</div>
</div>

{% endblock %}

