{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}

<div class="center">
<br>
<br>
    <h1 class="center">Rapport</h1>
<br>
<br>
    Voici les différents rapports disponible :
    <br>
    <br>
    <a class="btn btn-primary"href="/reportpiece", role="button">Rapport Piece</a>
    <br>
    <br>
    <a class="btn btn-primary"href="/reportemprunt", role="button">Rapport Emprut</a>
    <br>
    <br>
    <a class="btn btn-primary"href="/reportutilisateur", role="button">Rapport Utilisateur</a>
    
</div>
{% endblock %}
