<h1>Inscription réussi !</h1>
<p>Bonjour {{ form.infoInscription.prenom }}, vous pouvez désormais vous connecter pour
 emprunter des pièces. Pour ce faire, utiliser les informations suivantes :</p>
<ul>
    <li> courriel : {{ form.infoInscription.email }}</li>
    <li>mot de passe : {{ password }}</li>
</ul>